
<app-header title="{{competition.name}}" route="/"></app-header>

<ion-content>

  <ion-card *ngIf="errorMessaje">
    <ion-card-header>
      <ion-card-title>{{errorMessaje}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list *ngIf="!errorMessaje">

    <ion-item detail lines="none" *ngFor="let team of teams" (click)="goToDescriptionTeam(team.id)" class="animate__animated animate__fadeIn animate__slow">
      
      <ion-thumbnail slot="start">
        <ion-img *ngIf="team.crestUrl" [src]="team.crestUrl"></ion-img>
        <ion-img *ngIf="!team.crestUrl" src="./assets/images/shield.jpg"></ion-img>
      </ion-thumbnail>
      <h2>{{team.name}}</h2>
    </ion-item>

  </ion-list>

</ion-content>