<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>
      Competitions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item-divider>
  <ion-col size="10">
    <ion-searchbar mode="ios"
                 placeholder="Filter Season" 
                 inputmode="search" type="search"  
                 [debounce]="250" showCancelButton="never"
                 (ionChange)="searchChange( $event )">
  </ion-searchbar>
  </ion-col>

 <ion-col size="2">
  <ion-icon side="start" name="moon" [color]="darkMode? 'primary' : ''"></ion-icon>
  <ion-toggle [ngModel]="darkMode" (ionChange)="changeMode()"></ion-toggle>
 </ion-col>
  
</ion-item-divider>

<ion-content [fullscreen]="true" *ngIf="competitions" >

    <ion-card *ngFor="let competition of competitions | filterSeason:searchText" (click)="goToDetail(competition.id)"class="animate__animated animate__fadeIn animate__fast" >
      <ion-item lines="none">
        <ion-label>
          <h2>{{competition.name}}</h2>
          <p>{{competition.area.name}}</p>
        </ion-label>
        <ion-avatar slot="start" class="avatar" >
          <ion-img *ngIf="competition.emblemUrl" [src]="competition.emblemUrl"></ion-img>
          <ion-img *ngIf="!competition.emblemUrl" src="./assets/images/shield.jpg"></ion-img>
        </ion-avatar>
        <ion-label slot="end" class="ion-text-end"><small>{{competition.currentSeason?.startDate | date}}</small></ion-label>
      </ion-item>
    </ion-card>

</ion-content>
